%div{'ng-controller' => 'BookCtrl', 'ng-class' => '{container: fixedWidth}'}
  .col-md-1.panel-body
    %button.btn.btn-success.btn-block{'ng-click' => 'editOrCreateBook()', type:'button'} Add
    %button.btn.btn-info.btn-block{'ng-click' => 'refreshBooks()', type:'button'} Refresh
    %button.btn.btn-info.btn-block{'ng-click' => 'swapFixedWidth()', type:'button'} Grid
    .btn-block.btn-group.dropdown{'is-open' => 'status.isopen'}
      %button.btn.btn-warning.dropdown-toggle.btn-block{type: 'button', 'ng-disabled' => 'disabled'}
        Sort
        %span.caret
      %ul.dropdown-menu{role: 'menu'}
        %li
          %a{href:'#', 'ng-click' => "orderBookBy='nameAsc'"} Name Asc
        %li
          %a{href:'#', 'ng-click' => "orderBookBy='nameDesc'"} Name Desc
        %li
          %a{href:'#', 'ng-click' => "orderBookBy='progressAsc'"} Progress Asc
        %li
          %a{href:'#', 'ng-click' => "orderBookBy='progressDesc'"} Progress Desc
        %li
          %a{href:'#', 'ng-click' => "orderBookBy='pagesTotalAsc'"} Total pages Asc
        %li
          %a{href:'#', 'ng-click' => "orderBookBy='pagesTotalDesc'"} Total pages Desc
        %li
          %a{href:'#', 'ng-click' => "orderBookBy='pagesReadAsc'"} Read pages Asc
        %li
          %a{href:'#', 'ng-click' => "orderBookBy='pagesReadDesc'"} Read pages Desc
  .col-md-11
    .row{'collapse' => 'isCollapsed'}
      %form.panel-body.form-inline{name:'form', 'ng-submit' => 'saveEdit(currentBook)', novalidate:''}
        .form-group
          %input.form-control.input-name{'ng-model' => 'currentBook.name', placeholder:'Author - Name - Year', required:''}
        .form-group
          %input.form-control{'ng-model' => 'currentBook.read_pages', placeholder:'Read', type:'number'}
        .form-group
          %input.form-control{'ng-model' => 'currentBook.total_pages', placeholder:'Total', type:'number'}
        .checkbox
          %label
            Active:
            %input{'ng-model' => 'currentBook.active', type:'checkbox'}
        .form-group
          %div{'multi-select' => '', 'input-model' => 'currentBookGroups', 'button-label'=> 'name', 'item-label' => 'name', 'tick-property' => 'ticked'}
        .form-group
          %button.btn.btn-primary{'ng-disabled' => '!form.$valid', type:'submit'} Save
          %button.btn.btn-primary{'ng-click' => 'cancelEdit()', type:'reset'} Cancel
    %table.table.table-bordered.top-space
      %thead
        %tr
          %th Groups
          %th Name
          %th Read
          %th Total
          %th Control
      %tbody
        %tr{'ng-repeat' => 'book in books | orderBy:orderBookProperty:orderBookReversed()'}
          %td.fit-content
            %div{'ng-repeat' => 'row in book.groups | orderBy:name | partition:6'}
              %img.group-icon{'ng-repeat' => 'group in row', 'ng-src' => '{{group.url}}'}
          %td
            .progress-cell{'ng-style' => 'book.progressStyle()', 'ng-class' => '{active: book.active}'}
              {{book.name}}
          %td.fit-content
            {{book.read_pages}}
          %td.fit-content
            {{book.total_pages}}
          %td.fit-content
            %button.btn.btn-xs.btn-primary.btn-info{'ng-click' => 'editOrCreateBook(book)'} Edit
            %button.btn.btn-xs.btn-primary.btn-danger{'ng-click' => 'deleteBook(book)'} Delete