<div class="container" ng-controller="bookCtrl">
  <div class="col-md-1 panel-body ">
    <button type="button" class="btn btn-success btn-block" ng-click="editOrCreateBook()">Add</button>
    <button type="button" class="btn btn-info btn-block" ng-click="refreshBooks()">Refresh</button>
  </div>
  <div class="col-md-11">
    <div class="row" >
      <form class="panel-body form-inline" novalidate ng-submit="saveEdit(currentBook)">
        <div class="form-group">
          <input class="form-control input-name" required ng-model="currentBook.name" placeholder="Author - Name - Year"/>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" ng-model="currentBook.read_pages" placeholder="Read"/>
        </div>
        <div class="form-group">
          <input type="number" class="form-control" ng-model="currentBook.total_pages" placeholder="Total"/>
        </div>
        <div class="checkbox">
          <label>Active:
            <input type="checkbox" ng-model="currentBook.active"/>
          </label>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit">Save</button>
          <button class="btn btn-primary" ng-click="cancelEdit()">Cancel</button>
        </div>
      </form>
    </div>
    <table class="table table-bordered">
      <thead>
      <tr>
        <th>Name</th>
        <th>Read</th>
        <th>Total</th>
        <th>Progress</th>
        <th>Control</th>
      </tr>
      </thead>
      <tbody>
      <tr ng-repeat="book in books | orderBy:progress:true">
        <td>{{book.name}}</td>
        <td>{{book.read_pages}}</td>
        <td>{{book.total_pages}}</td>
        <td>
          <div class="progress">
            <div class="progress-bar progress-bar-striped my-reverse-class" style="width:{{book.progress()}}%"
                 ng-class="{'progress-bar-success active': book.active, 'progress-bar-warning': !book.active}">
            </div>
          </div>
        </td>
        <td>
          <button class="btn btn-xs btn-primary btn-info" ng-click="editOrCreateBook(book)">Edit</button>
          <button class="btn btn-xs btn-primary btn-danger" ng-click="deleteBook(book)">Delete</button>
        </td>
      </tr>
      </tbody>
    </table>
  </div>
</div>