<div class="container" ng-controller="groupCtrl">
  <div class="col-md-1 panel-body ">
    <button type="button" class="btn btn-success btn-block" ng-click="editOrCreateGroup()">Add</button>
    <button type="button" class="btn btn-info btn-block" ng-click="refreshGroups()">Refresh</button>
  </div>
  <div class="col-md-11">
    <div class="row">
      <form name="form" class="panel-body form-inline" novalidate ng-submit="saveEdit(currentGroup)">
        <div class="form-group">
          <input class="form-control" required ng-model="currentGroup.name" placeholder="Name"/>
        </div>
        <div class="form-group">
          <input class="form-control" ng-model="currentGroup.url" placeholder="Url"/>
        </div>
        <div class="form-group">
          <button class="btn btn-primary" type="submit" ng-disabled="!form.$valid">Save</button>
          <button class="btn btn-primary" type="reset" ng-click="cancelEdit()">Cancel</button>
        </div>
      </form>
    </div>
    <div class="row" ng-repeat="rows in groups | orderBy:name | partition:6">
      <div class="col-md-2 text-center pull-left" ng-repeat="group in rows">
        <img ng-src="{{group.url}}">
        <h4>{{group.name}}</h4>
        <p class="row">
          <button class="btn btn-xs btn-primary btn-info" ng-click="editOrCreateGroup(group)">Edit</button>
          <button class="btn btn-xs btn-primary btn-danger" ng-click="deleteGroup(group)">Delete</button>
        </p>
      </div>
    </div>
  </div>
</div>