.container{'ng-controller' => 'GroupCtrl'}
  .col-md-1.panel-body
    %button.btn.btn-success.btn-block{'ng-click' => 'editOrCreateGroup()', type: 'button'} Add
    %button.btn.btn-info.btn-block{'ng-click' => 'refreshGroups()', type: 'button'} Refresh
  .col-md-11
    .row{'collapse' => 'isCollapsed'}
      %form.panel-body.form-inline{name: 'form', 'ng-submit' => 'saveEdit(currentGroup)', novalidate:''}
        .form-group
          %input.form-control{'ng-model' => 'currentGroup.name', placeholder: 'Name', required:''}
        .form-group
          %input.form-control{'ng-model' => 'currentGroup.url', placeholder: 'Url'}
        .form-group
          %button.btn.btn-primary{'ng-disabled' => '!form.$valid', type: 'submit'} Save
          %button.btn.btn-primary{'ng-click' => 'cancelEdit()', type: 'reset'} Cancel
    .row{'ng-repeat' => 'rows in groups | orderBy:name | partition:6'}
      .col-md-2.text-center.pull-left{'ng-repeat' => 'group in rows'}
        %img{'ng-src' => '{{group.url}}'}
        %h4
          {{group.name}}
        %p.row
          %button.btn.btn-xs.btn-primary.btn-info{'ng-click' => 'editOrCreateGroup(group)'} Edit
          %button.btn.btn-xs.btn-primary.btn-danger{'ng-click' => 'deleteGroup(group)'} Delete