/*
 *= require bootstrap
 */

.book-name {
  margin: 0 5px 0 0;
  float: left;
}

.book-pages {
  margin: 0 5px;
  float: left;
}

.pages-count {
  width: 40px;
}

.item {
  margin: 5px 0;
}

.progress {
  margin-bottom: 0;
  width: 300px;
}

input[type=number] {
  width: 110px !important;
}

.input-name {
  width: 580px !important;
}

.checkbox {
  line-height: 32px;
}

.edit-group {
  margin: 0 auto !important;
}

.progress-bar.active.my-reverse-class {
  -webkit-animation-direction: reverse;
  -moz-animation-direction: reverse;
  -ms-animation-direction: reverse;
  -o-animation-direction: reverse;
  animation-direction: reverse;
}

input.ng-invalid.ng-dirty {
  border: 1px #d9534f solid;
  color: #d9534f;
}

input.ng-invalid.ng-dirty:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #d9534f;
}

input.ng-valid.ng-dirty {
  border: 1px #21b119 solid;
  color: #21b119;
}

input.ng-valid.ng-dirty:focus {
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.075) inset, 0 0 6px #21b119;
}

.nav, .pagination, .carousel, .panel-title a {
  cursor: pointer;
}

.nav-tabs > li, .nav-pills > li {
  float: none;
  display: inline-block;
  *display: inline; /* ie7 fix */
  zoom: 1; /* hasLayout ie7 trigger */
}

.nav-tabs, .nav-pills {
  text-align: center;
}